<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node">
        <param name="STATE_COUNT_THRESHOLD" value="2" />
        <param name="COLOR_THRESHOLD" value="30" />
        <param name="SCORE_THRESHOLD" value="0.26" />
        <param name="gamma" value="2.2" />    
    </node>
    <node pkg="tl_detector" type="light_publisher.py" name="light_publisher" output="screen" cwd="node"/>
</launch>
